$background-color: rgb(238, 234, 231);
$background-color-input: white;
$accent-color: #01017a;
$label-color: grey;
$edit-btn-bgcolor: rgb(246, 12, 242);
$delete-btn-bgcolor: rgb(255, 55, 0);
$btn-color: white;
$submit-btn-bgcolor: rgb(3, 120, 254);
$hover-opacity: 0.8;


body {
    font-family: "Montserrat", sans-serif !important;
    background-color: $background-color;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


main {
    max-width: 600px;
    width: 100%;
    margin: 2rem auto;
}

.welcome__form,
.welcome__form__input {
    margin: 0.5rem 0;
    font-size: 28px;
    font-weight: bold;
    border: none;
    padding: 5px 0;
    color: $accent-color;
    background: transparent;
    font-family: "Montserrat", sans-serif !important;


    &:focus,
    &:focus-visible,
    &:focus-within,
    &:active,
    &:hover {
        border: none;
        outline: none;
    }
}

.todo__header {
    margin: 0.5rem 0 1rem 0;
    font-size: 28px;
    color: $accent-color;
}

.task__form {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
    margin: 1rem 0;

    .task__form__secondary-text {
        color: $label-color;
        font-weight: bold;
    }

    .name {
        font-size: 22px;
        border: none;
        border-radius: 0.5rem;
        padding: 8px 0;
        color: $accent-color;
        background: $background-color-input;
        font-family: "Montserrat", sans-serif !important;
    }

    .task__form__radiobox {
        display: flex;
        flex-direction: row;
        // gap: 1rem;
        justify-content: space-between;

        .task__form__radiobox__item {
            display: flex;
            flex-direction: column;
            width: 48%;
            justify-content: center;
            align-items: center;
            gap: 0.8rem;
            border: none;
            border-radius: 0.5rem;
            padding: 1.8rem 0;
            color: $accent-color;
            background: $background-color-input;

            &:hover {
                cursor: pointer;
            }

        }
    }

    .task__form__submit--btn {
        font-size: 18px;
        border: none;
        border-radius: 0.5rem;
        padding: 12px 0;
        color: $btn-color;
        background: $submit-btn-bgcolor;

        &:hover {
            cursor: pointer;
            opacity: $hover-opacity;
        }
    }

}

.display__todo-list {
    margin: 0.5rem 0 1rem 0;
    font-size: 28px;
    color: $accent-color;
}